body {
    background-color: rgb(185, 207, 233);
}
label{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin:0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
      border: 0;
      line-height: 2.5;
      padding: 0 20px;
      font-size: 1rem;
     text-align: center;
     color: #2138b9;
     text-shadow: 1px 1px 1px rgb(123, 121, 117);
     border-radius: 10px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to top l)
}
h1{
    font-family: cursive;
    text-shadow: 1px 1px 1px rgb(57, 39, 25);
}